---
import BaseLayout from '../layouts/BaseLayout.astro';


import '../styles/global.css';
const pageTitle = 'My Astro learning blog';
---

<BaseLayout pageTitle={pageTitle}>

		
		
		<p>It's going to get wordy in here</p>
     <ul>
      <li>
        <a href="/posts/test-post">Test Post</a>
        <li><a href="/posts/post-2/">Post 2</a></li>
      <li><a href="/posts/post-3/">Post 3</a></li>
      </li>
    </ul>
		</BaseLayout>
		