---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---

<header>
  <nav class="container nav-wrapper">
    <Hamburger />
    
    <Navigation />
  </nav>
</header>

<style>
  .nav-wrapper {
    display: block;
  }

  @media screen and (min-width: 636px) {
    .nav-wrapper {
      display: flex;
    }
  }
</style>